@model IEnumerable<Agricultural_Web_Application.Models.User>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 order-lg-2 mb-4 mb-lg-0">
                <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-1">
                    <span class="play"><span class=" icon-play"></span></span>
                    <img src="~/images/img_sq_1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-5 order-lg-1">
                <h2 class="text-primary mb-4">Plants Make Life Better</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim necessitatibus placeat, atque qui voluptatem velit explicabo vitae repellendus architecto provident nisi ullam minus asperiores commodi! Tenetur, repellat aliquam nihil illo.</p>
                <ul class="list-unstyled ul-check primary">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Velit explicabo vitae repellendu</li>
                    <li>Repellat aliquam nihil illo</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-5 text-center">
                <h3 class="section-subtitle">Expert Farmers</h3>
                <h2 class="section-title text-black mb-4">Meet The Team</h2>
            </div>
        </div>

        <div class="row">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 mb-lg-0">
                        <div class="person">
                            <a href="/Home/UserDetails?id=@item.id" class="position-relative">
                                <figure>
                                    <img src="@item.imgPath" alt="Image" class="img-fluid">
                                </figure>
                                <div class="person-contents">
                                    <h3>@item.fullname</h3>
                                    <span class="position">Farmer</span>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="site-section services-1-wrap">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-7">
                <h3 class="section-subtitle">Services</h3>
                <h2 class="section-title mb-4 text-black">Providing Fresh Produce Every Single Day</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">01</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-1.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Planting</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">02</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-2.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Mulching</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">03</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-3.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Plowing</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">04</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-4.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Mowing</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">05</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-5.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Seeding</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">06</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-6.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Fresh Vegetables</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">07</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-7.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Watering</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">08</span>
                    <div class="service-1-icon">
                        <img src="~/images/icon-8.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Vegetable selling</h3>
                        <p>Gravida sodales condimentum pellen tesq accumsan orci quam sagittis sapie</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END services -->
